h1 {
  font-family: monospace;
  font-size: 26pt;
}

fieldset {
  margin: 20px 0;
  width: 240px;
}

form {
  clear: both;
}

.ttt-row {
  clear: both;
  font-size: 24pt;
  position: relative;
  text-align: center;
  width: 240px;
}

.announce {
  clear: both;
  font-family: monospace;
  font-size: 20px;
  margin: 100px 0 10px;
  text-align: center;
  width: 240px;
}

.hide {
  display: none;
}

.game-board {
  clear: both;
  margin: 0 0 100px;
  button {
    background-color: #eee;
    border: 1px #ddd solid;
    float: left;
    font-family: "Century Gothic", sans-serif;
    font-size: 40pt;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin: 5px;
    padding: 0;
    text-align: center;
    width: 60px;
  }
}

.cont {
  width: 240px;
  clear: both;
  margin: 0 auto;
}
